certifi==2021.5.30
chardet==4.0.0
click==8.0.1
filelock==3.0.12
idna==2.10
jieba==0.42.1
joblib==1.0.1
numpy==1.20.3
packaging==20.9
pyparsing==2.4.7
pypinyin==0.40.0
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
sentencepiece==0.1.95
six==1.16.0
tokenizers==0.10.3
torch==1.7.1+cu101
tqdm==4.61.1
transformers==4.3.3
typing-extensions==3.10.0.0
urllib3==1.26.5
